<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>SNo.</td>
                    <td>EventName</td>
                    <td>StartDate</td>
                    <td>BookingNumber</td>
                    <td>Number of Tickets</td>

                </tr>
            </thead>
            <tbody>
                @for (item of bookingList; track $index) {
                    <td>{{$index+1}}.</td>
                    <td>{{item.eventName}}</td>
                    <td>hello</td>
                    <!-- <td>{{item.startDate | date:'dd-MMM-yy'}}</td> -->
                    <td>{{item.bookingNo}}</td>
                    <td>{{item.noOfTickets}}</td>

                }
            </tbody>
        </table>
    </div>
</div>